MoviePop-backend/data/openlist/openlist.exe
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
MoviePop-backend/data/config.ini
MoviePop-backend/data/openlist/data/
MoviePop-backend/data/
MoviePop-backend/covers/
nginx.conf
logs/
build/
dist/
release/
